[keyboard]
name = "Piantor"
product_name = "Piantor"
vendor_id= 0xbeeb
product_id = 0x0001
manufacturer = "beekeep"
chip = "rp2040"

# [host]
# vial_enabled = false

[alias]


[layout]
rows = 4
cols = 12
layers = 5
keymap = [
    [
       ["_", "B", "L", "D", "C",   "V",    "J", "Y",   "O", "U", "comm", "bspc"],
       ["_", "MT(N, LGui)", "MT(R, LAlt)", "MT(T, LCtrl)", "MT(S, LShift)",   "G",    "P", "MT(H, LShift)",   "MT(A,LCtrl)", "MT(E,LAlt)", "MT(I,LGui)",    "_"],
       ["_", "X", "Q", "M", "W",   "Z",    "K", "F",   "'", ";", ".",    "_"],
       ["_", "_", "_", "A", "spc", "lsft", "A", "ent", "A", "_", "_",    "_"],
    ],
]

[storage]
# enabled = false
clear_storage = true

[behavior.morse]
enable_flow_tap = true
prior_idle_time = "120ms"
hold_on_other_press = true
hold_timeout = "250ms"
gap_timeout = "250ms"

[rmk]
debounce_time=50

[split]
connection = "serial"

# we are defining the left side to be our primary.
[split.central]
rows = 4
cols = 6
row_offset = 0
col_offset = 0
serial = [
    { instance = "UART0", tx_pin = "PIN_0", rx_pin = "PIN_1" }
]

[split.central.matrix]
matrix_type = "direct_pin"
direct_pins=[
    ["PIN_5", "PIN_4", "PIN_11", "PIN_15", "PIN_3", "PIN_2"],
    ["PIN_22", "PIN_20", "PIN_10", "PIN_14", "PIN_9", "PIN_8"],
    ["PIN_21", "PIN_19", "PIN_6", "PIN_7", "PIN_13", "PIN_12"],
    ["_", "_", "_", "PIN_17", "PIN_18", "PIN_16"],
]

[[split.peripheral]]
rows = 4
cols = 6
row_offset = 0
col_offset = 6
serial = [
    { instance = "UART0", tx_pin = "PIN_0", rx_pin = "PIN_1" }
]
[split.peripheral.matrix]
matrix_type = "direct_pin"
direct_pins=[
    ["PIN_22", "PIN_21", "PIN_2", "PIN_5", "PIN_8", "PIN_11"],
    ["PIN_20", "PIN_19", "PIN_3", "PIN_6", "PIN_9", "PIN_12"],
    ["PIN_18", "PIN_17", "PIN_4", "PIN_7", "PIN_10", "PIN_13"],
    ["PIN_15", "PIN_14", "PIN_16", "_", "_", "_"],
]
