[keyboard]
name = "piantor"
product_name = "piantor"
vendor_id: 0xBEEB
product_id = 0x0001
manufacturer = "beekeep"
chip = "rp2040"

[layout]
rows = 4
cols = 12
layers = 1
keymap = [
    [
    ["_","Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P", "_"],
    ["_","MT(A, LShift)", "LT(5, S)", "LT(1, D)", "LT(3, F)", "G", "H", "LT(4, J)", "LT(2, K)", "LT(6, L)", "MT(Semicolon, LShift)", "_"],
    ["_","MT(Z, LGui)", "MT(X, LCtrl)", "MT(C, LAlt)", "V", "B", "N", "M", "MT(Comma, LAlt)", "MT(Dot, LCtrl)", "MT(Slash, LGui)", "_"],
    ["_","_", "_", "_", "Enter", "Space", "Backspace", "Tab", "_", "_", "_", "_"],
    ]
]

[storage]

[behavior.morse]
enable_flow_tap = true
prior_idle_time = "120ms"
hold_on_other_press = true
hold_timeout = "250ms"
gap_timeout = "250ms"

[rmk]
debounce_time=50

[split]
connection = "serial"

# we are defining the left side to be our primary.
[split.central]
rows = 4
cols = 6
row_offset = 0
col_offset = 0
serial = [
    { instance = "UART0", tx_pin = "PIN_0", rx_pin = "PIN_1" }
]

[split.central.matrix]
matrix_type = "direct_pin"
direct_pins=[
    ["PIN_5", "PIN_4", "PIN_11", "PIN_15", "PIN_3", "PIN_2"],
    ["PIN_22", "PIN_20", "PIN_10", "PIN_14", "PIN_9", "PIN_8"],
    ["PIN_21", "PIN_19", "PIN_6", "PIN_7", "PIN_13", "PIN_12"],
    ["_", "_", "_", "PIN_17", "PIN_18", "PIN_16"],
]

[[split.peripheral]]
rows = 4
cols = 6
row_offset = 0
col_offset = 6
serial = [
    { instance = "UART0", tx_pin = "PIN_0", rx_pin = "PIN_1" }
]
[split.peripheral.matrix]
matrix_type = "direct_pin"
direct_pins=[
    ["PIN_22", "PIN_21", "PIN_2", "PIN_5", "PIN_8", "PIN_11"],
    ["PIN_20", "PIN_19", "PIN_3", "PIN_6", "PIN_9", "PIN_12"],
    ["PIN_18", "PIN_17", "PIN_4", "PIN_7", "PIN_10", "PIN_13"],
    ["PIN_15", "PIN_14", "PIN_16", "_", "_", "_"],
]
